:root {
  --color-primary-dark-1: rgba(4, 13, 33, 1);
  --color-primary-dark-2: rgb(207, 7, 147);
  --color-primary-dark-3: rgb(206, 40, 82);
  --color-primary-dark-4: rgba(34, 4, 51, 0.945);

  --color-secondary-light-1: rgb(49, 180, 32, 0.6);
  --color-secondary-light-2: rgba(31, 146, 29, 0.9);
  --color-secondary-light-3: rgba(78, 124, 72, 0.8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.navigation {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    120deg,
    var(--color-primary-dark-4),
    #040d21,
    #182c6a,
    #040d21,
    var(--color-primary-dark-4)
  );
}

.nav-links {
  list-style: none;
  margin-left: 50%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  list-style: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 5px;
  border: none;
  text-decoration: none;
  color: #ffff;
}

.logo {
  color: #35901e;
  position: absolute;
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 2rem;
  left: 50px;
  cursor: pointer;
}

a:hover {
  color: chartreuse;
  border-bottom: 3px solid red;
  transition: all 0.5s;
}

/* The body */
.main {
  background-image: linear-gradient(
      to right,
      var(--color-secondary-light-1),
      var(--color-secondary-light-2),
      var(--color-secondary-light-3)
    ),
    url(./images/nat-1-large.jpg);
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Tables */

.container {
  margin: 5% 3%;
}

#table-Id {
  width: 100%;
}

table,
th,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid rgba(134, 188, 37, 1);
  border-collapse: collapse;
}

#table-Id tr:nth-child(even) {
  background-color: #eee;
}

#table-Id tr:nth-child(odd) {
  background-color: #fff;
}

caption {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  border-spacing: 0;
}

th {
  font-size: 25px;
  background-color: rgb(20, 65, 9);
  border: 1px solid rgba(134, 188, 37, 1);
  font-weight: bold;
  text-align: center;
  color: white;
}
td {
  font-size: 30px;
}

.tfoot {
  margin: 10px;
  font-size: 20px;
  font-style: italic;
}
.p-data {
  font-size: 20px;
  font-style: bold;
  color: #fff;
  display: inline-block;
  border-bottom: 1px solid rgba(134, 188, 37, 1);
}

/* Footer */
.footer-home {
  min-height: 20vh;
  background: linear-gradient(
    120deg,
    var(--color-primary-dark-4),
    #040d21,
    #182c6a,
    #040d21,
    #040d21
  );
  text-align: center;
}
.p-footer {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  font-style: italic;
  letter-spacing: 2px;
}
