:root {
  --color-primary-dark-1: rgba(4, 13, 33, 1);
  --color-primary-dark-2: rgb(207, 7, 147);
  --color-primary-dark-3: rgb(206, 40, 82);
  --color-primary-dark-4: rgba(34, 4, 51, 0.945);

  --color-secondary-light-1: rgb(49, 180, 32, 0.6);
  --color-secondary-light-2: rgba(31, 146, 29, 0.9);
  --color-secondary-light-3: rgba(78, 124, 72, 0.8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation */
.navigation {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    120deg,
    var(--color-primary-dark-4),
    #040d21,
    #182c6a,
    #040d21,
    var(--color-primary-dark-4)
  );
}

.nav-links {
  list-style: none;
  margin-left: 50%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 5px;
  border: none;
  text-decoration: none;
  color: #ffff;
}

.logo {
  color: #35901e;
  position: absolute;
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 16px;
  left: 50px;
  cursor: pointer;
}

a:hover {
  color: chartreuse;
  border-bottom: 2px solid red;
  transition: all 0.5s;
}

/* Data.html body */
.section {
    background: linear-gradient(
      to right,
      var(--color-secondary-light-1),
      var(--color-secondary-light-2),
      var(--color-secondary-light-3)
    );
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* The home.html body */
.main {
  background-image: linear-gradient(
      to right,
      var(--color-secondary-light-1),
      var(--color-secondary-light-2),
      var(--color-secondary-light-3)
    ),
    url(./images/nat-1-large.jpg);
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form section */
.header {
  letter-spacing: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.online-survey {
  font-weight: 400;
  letter-spacing: 10px;
}

.unit-code {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 10px;
}

.label-font {
  color: #040d21;
  font-size: 20px;
}

input {
  background: #ffff;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  color: rgb(1, 0, 5);
  height: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.submit {
  padding: 5px;
  background: #040d21;
  color: #ffff;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 1px 10px rgba(5, 5, 5, 0.533);
}

.submit:hover{
  color:var(--color-secondary-light-2) ;
  background: #06163a;
}

.success {
  text-align: center;
}

.success-text {
  font-size: 20px;
  font-weight: 50px;
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark-1),
    var(--color-primary-dark-2),
    var(--color-primary-dark-3),
    var(--color-primary-dark-4)
  );
  -webkit-background-clip: text;
  color: transparent;
}

/* Display Success Table and data-table */
.container {
  width: 70%;
}

/* Data */

caption {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  border-spacing: 0;
}
.datacontainer {
  margin: 1% 14%;
}

table {
  width: 100%;
}

table,
th,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid rgba(134, 188, 37, 1);
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

th {
  font-size: 16px;
  background-color: rgb(20, 65, 9);
  border: 1px solid rgba(134, 188, 37, 1);
  font-weight: bold;
  text-align: center;
  color: white;
}
td {
  font-size: 16px;
}

/* data.html table bottom-title */
.tfoot {
  margin: 10px;
  font-size: 16px;
  font-style: italic;
}
.p-data {
  display: inline-block;
  border-bottom: 1px solid rgb(166, 248, 14);
}

/* Footer */
.footer {
  min-height: 20vh;
  background: linear-gradient(
    120deg,
    var(--color-primary-dark-4),
    #040d21,
    #182c6a,
    #040d21,
    #040d21
  );
  text-align: center;
}
.p-footer {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 20px;
  font-style: italic;
  letter-spacing: 2px;
}
.p-copyright{
  color: chartreuse;
}

